pointers : 
1.demo in name of Shree Uniya Construction 
2. objective of website :- new business establishment 
3. pop up page for civil construction 
4. service details whatsapp directly redirect from website 
5. tools of construction can be used in web page 
6. SM pages to be linked 
7. creativity must be visible
8. page must be interactive 
9. audience must hook with web page  to explore website content 
10. content related to constructions can be added 
etc.. 
add motions , sounds , or crativity can be part of it